/* You can add global styles to this file, and also import other style files */
body, html, app-root {
  height: 100%;
  width: 100%;
  display: block;
  background: linear-gradient(90deg,
    rgba(17, 20, 23, 1) 0%,
    rgba(40, 80, 60, 1) 25%,
    rgba(40, 80, 60, 1) 75%,
    rgba(0, 0, 0, 1) 100%);
  margin: 0;
  padding: 0;
}